<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <h2>管理员登陆页</h2>
        <div class="signup"><a href="{:U('signup')}" class="btn btn-default">注册</a></div>
    </div>
    <div class="form">          
        <form action="{:U('loginhandle')}" method="POST">
            <div><label>用户名:</label><input name="name" type="text"/></div>
            <div><label>密码:</label><input name="password" type="password"/></div>
            
            <div><button type="submit" class="btn btn-default">登陆</button></div>
        </form>
    </div>
</body>
<style type="text/css">
    html,body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%
    }
    .signup{
        margin: 10px;
        float: right;
    }
    .form{
        margin: 5% auto;
        width: 30%;
        height: 80%;
    }
    div{
        margin:20px;
    }
   
</style>
</html>