<!DOCTYPE html>
<html>
<head>
    <title>signup</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <h2>管理员注册页</h2>
        <div class="login"><a href="{:U('login')}" class="btn btn-default">登陆</a></div>
    </div>
    <div class="form">
        <form action="{:U('signuphandle')}" method="POST">
            <div><label>小区名字:</label><input name="community_name" type="text"/></div>
            <div><label>小区地址:</label><input name="community_address" type="text"/></div>
            <div><label>用户名:</label><input name="name" type="text"/></div>
            <div><label>密码:</label><input name="password" type="password"/></div>
            <div><label>确认密码:</label><input name="re_password"type="password"/></div>
            <div><label>邮箱:</label><input name="email" type="text"/></div>
            <div><label>手机:</label><input name="phone" type="text"/></div>
            <div><label>性别:</label>
            <label>男</label><input type="radio" name="gender" checked="checked" value="1">
            <label>女</label><input type="radio" name="gender" value="0"> 
            </div>
            <div><button type="submit" class="btn btn-default">注册</button></div>
        </form>
    </div>  
</body>
<style type="text/css">
    html,body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%
    }
    .login{
        margin: 10px;
        float: right;
    }
    .form{
        margin: 5% auto;
        width: 30%;
        height: 80%;
    }
    div{
        margin:20px;
    }
   
</style>
</html>