<extend name="Index/base" />
<block name="content">
    <div class="person">
        <div><span>ID:</span><span>{$data.id}</span></div>
        <div><span>姓名:</span><span>{$data.name}</span></div>
        <div><span>手机号:</span><span>{$data.phone}</span></div>
        <div><span>邮箱:</span><span>{$data.email}</span></div>
        <div><span>注册时间:</span><span>{$data.create_time}</span></div>
    </div>
</block>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
    <style type="text/css">
        .person{
            margin: 30px;
        }
        .person div{
            padding: 5px;
        }
    </style>
</block>

<block name="script">
    
</block>
