<extend name="Index/base" />
<block name="content">
    <div class="list">
    <table class="table"> 
        <caption><h4>业主认证申请</h4></caption>
        <tr class="active">
          <th>姓名</th>
          <th>楼号</th>
          <th>房号</th>
          <th>申请时间</th>
          <th>状态</th>
          <th>选项</th>
        </tr>
    <foreach name="list" item="data">
        <tr>
            <td>{$data.owner_name}</td>
            <td>{$data.building}</td>
            <td>{$data.room}</td>
            <td>{$data.create_time}</td>
            <if condition="$data.status == 1">
                <td style="color: darkgreen">已认证</td>
            <else /><td style="color: darkred">未认证</td>
            </if>
            <td><input type="checkbox" name="owner" value="{$data.user_id}" /></td>
        </tr>
    </foreach> 
    </table>
    <div class="confirm">
        <button id="allow" class="btn btn-primary">认证通过</button>
        <button id="deny" class="btn btn-danger">拒绝通过</button>
    </div>
  
</block>

<block name="style">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .list{
            margin: 30px;
        }
        .table{
            margin: 5px 0;
        }
        .table div{
            float: left;
            width: 15%;
        }
        .confirm{
            margin: 0 auto;
            width: 60%

        }
        .confirm button{
            margin: 20px 80px;
        }
        .clear{
            clear: both;
        }
    </style>
</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#allow").click(function(){
              if(confirm("确定通过?")){
                var owners = new Array();
                $("input[name='owner']:checked").each(function(){
                    owners.push($(this).val());
                });
                $.ajax({
                    url: "allow.html",
                    data: {
                        "owners": owners
                    },
                    type: "post",
                    success: function(data){
                        location.href = "index.html";
                        console.log(data); 
                    },
                    error: function(e){
                        console.log(e);
                    }
                });  
              } 
            });
            $("#deny").click(function(){
              if(confirm("确定拒绝?")){
                var owners = new Array();
                $("input[name='owner']:checked").each(function(){
                    owners.push($(this).val());
                });
                $.ajax({
                    url: "deny.html",
                    data: {
                        "owners": owners
                    },
                    type: "post",
                    success: function(data){
                        location.href = "index.html";
                        console.log(data); 
                    },
                    error: function(e){
                        console.log(e);
                    }
                });  
              } 
            });
        });
    </script>
</block>
