<extend name="Index/base" />
<block name="content">
<div class="list">
    <table class="table">
        <caption>物业报修记录</caption>
        <tr class="active">
            <th>报修内容</th>
            <th>报修人</th>
            <th>报修时间</th>
            <th>楼栋号</th>
            <th>房号</th>
            <th>状态</th>
            <th>选项</th>
        </tr>
        <foreach name="list" item="data">
        <tr>
            <td>{$data.content}</td>
            <td>{$data.name}</td>
            <td>{$data.create_time}</td>
            <td>{$data.building}</td>
            <td>{$data.room}</td>
            <if condition="$data.status == 1">
                <td style="color: darkgreen">已处理</td>
            <else /><td style="color: darkred">未处理</td>
            </if>
            <td><input type="checkbox" name="repair" value="{$data.user_id}" /></td>
        </tr>   
        </foreach>
    </table>
    <div>
        <button id="finish" class="btn btn-primary">完成</button>
    </div>
</div>
</block>

<block name="style">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .list{
            margin: 30px;
        }
    </style>
</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#finish").click(function(){
              if(confirm("确定?")){
                var repairs = new Array();
                $("input[name='repair']:checked").each(function(){
                    repairs.push($(this).val());
                });
                $.ajax({
                    url: "finish.html",
                    data: {
                        "repairs": repairs
                    },
                    type: "post",
                    success: function(data){
                        location.href = "index.html";
                        console.log(data); 
                    },
                    error: function(e){
                        console.log(e);
                    }
                });  
              } 
            });
        });
    </script>
</block>