<extend name="Index/base" />
<block name="content">
   <div class="publish"><a href="{:U('Notices/notices')}" class="btn btn-default">发布公告</a></div>
   <div class="clear"></div>
   <div class="list">
     <div class="table">
     <div><span>标题</span></div>
     <div><span>内容</span></div>
     <div><span>时间</span></div>
     <div class="clear"></div>
     </div>
     <foreach name="list" item="data">
         <div class="table">
             <div><span>{$data.title}</span></div>
             <div><span>{$data.content}</span></div>
             <div><span>{$data.published_at}</span></div>
             <div><input type="checkbox" name="notice" value="{$data.id}" /></div>
             <div class="clear"></div>
         </div>
     </foreach>
    </div>
    <div class="clear"></div>
    <div class="delete"><button id="delete" class="btn btn-danger">删除</button>
   </div>
</block>

<block name="style">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .list{
            margin-top: 10px;
            margin-left: 30px;
        }
        .table{
            margin: 5px 0;
        }
        .table div{
            float: left;
            width: 20%;
        }
        .publish{
            margin-top: 10px;
            margin-right: 50px;
            float: right;
        }
        .clear{
            clear: both;
        }
        .delete{
            margin: 20px auto;
            padding: 20px;
        }
    </style>
</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#delete").click(function(){
              if(confirm("确定删除?")){
                var notices = new Array();
                $("input[name='notice']:checked").each(function(){
                    notices.push($(this).val());
                });
                $.ajax({
                    url: "delete.html",
                    data: {
                        "notices": notices
                    },
                    type: "post",
                    success: function(data){
                        location.href = "index.html";
                        console.log(data); 
                    },
                    error: function(e){
                        console.log(e);
                    }
                });  
              }
              
            });
        });
    </script>
</block>