<extend name="Index/base" />
<block name="content">
<div class="main">
    <div class="title">
        {$result.title}
    </div>
    <div class="text">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$result.content}

        <div class="admin">
            <div>{$result.admin_name}</div>
            <div>{$result.published_at}</div>
        </div>
    </div>
    
</div>
</block>
<block name="style">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .title{
            margin: 30px;
            text-align: center;
            font-size: 20px;
        }
        .text{
            padding: 0 200px;
        }
        .admin{
            float: right;
            margin-top: 30px;
        }
    </style>
</block>